h4 {font-weight: bold;}
p{margin: 0;}
a,a:hover {color: #000; text-decoration: none}

/* 타이틀 */
.ib-mp-hbox {
    padding: 0 1em .5em 1em;
	border-bottom: 3px solid #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ib-mp-hbox div {
	display: flex;
	align-items: center;
}

.ib-mp-hbox div select {margin-right: 1em; width: 100px;}

.ib-mp-hbox div select:last-child {margin-right: 0;}

/* 문의 내역 테이블 */
thead tr th {text-align: center;}
thead tr th:nth-child(1),
thead tr th:nth-child(4),
thead tr th:nth-child(5) {
	width: 12%;
}

thead tr th:nth-child(2),
thead tr th:nth-child(3) {
	width: 32%;
}

tbody tr {
	text-align: center;
}

tbody tr th,
tbody tr td {
	padding-top: 3em !important;
	padding-bottom: 3em !important;
}

tbody tr td:nth-child(2) {
	padding-top: 0.75em !important;
	padding-bottom: 0.75em !important;
}

tbody tr td ul {
	list-style: none;
	margin: 0 0 0 2em;
	padding: 0;
	text-align: left;
	font-size: 0.875rem;
}

tbody tr td ul li {
	margin-bottom: 0.3em; 
}

tbody tr td ul li:nth-child(1) {
	font-weight: bold;
}

tbody tr td i {
	color: rgb(52, 152, 219);
}

.ib-ta-product {
	display: flex;
	align-items: center;
}

.ib-ta-imgbox {
	flex-basis: 120px;
}

.ib-ta-orange {
	color: rgb(211, 84, 0);
	font-weight: bold;
}