/**** 메인 고정부분 ****/
.mp-main {
   padding-top: 7.7em;
   position: relative;
}
a:hover {
   text-decoration: none;
}


/**** 모달 ****/
.modal {
    z-index: 100001;
}
.modal-backdrop {
    z-index: 100000;
}


/**** 커버 ****/
.mp-banner {
    background-color: #ffc001;
    /* background-image: url("../../images/mypage/banner1.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 180px;
    width: 100%;
    transition: box-shadow 0.5s ease;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.25);
    z-index:10;
    position: absolute;
}
.mp-banner:hover {
   box-shadow: inset 0 0 0 4px #1c2036;
}
.mp-banner:hover .mp-photo-icon{
    font-size: 1.5em !important;
    padding: 0.23em 0.4em 0 0 !important;
}
.mp-banner:hover .mp-pic-box{
    opacity: 1 !important;
    width: 145px;
}
.mp-photo-icon {
    position: absolute;
    font-size: 2.1em;
    color: white !important;
    top: 0;
    right: .5%;
    transition: all .2s ease-out, padding .2s ease;
}
.mp-banner-cbox {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.mp-pic-focus {
    position: absolute;
    top: 8%;
    right: .5%; 
    height: 35px; 
    width: 145px; 
}
.mp-pic-text { /*span*/
   /*-webkit-font-smoothing: antialiased;*/
    position: relative;
    font-weight: bold;
    color: white;
    font-size: .9em;
}
.mp-pic-box { /*div*/ 
    position: absolute;
    border: 2px solid white; margin: 0;
    border-radius: 2px;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    opacity: 0;
    overflow: hidden;
    padding: 0.2em 0.5em;
    transition: opacity .2s ease-out, width .2s ease-out;
    white-space: nowrap;
    width: 145px;
}
.mp-pic-focus:focus .mp-pic-box {
    opacity: 1;
}
.mp-pic-focus:focus .mp-photo-icon {
    font-size: 1.5em;
    padding: 0.23em 0.4em 0 0;
}


/**** 커버사진 올리기 팝업 ****/
.mp-cover-popup {    
    float: right;
    margin-top: 3.25em;
    font-size: .8em;
    display: none;
    z-index: 100;
}
.mp-inner-ul {
    white-space: nowrap;
    list-style: none;
    margin-bottom: 0;
    padding: .4em 0;
    background: white;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
}
.mp-triangle { 
    margin-left: 5.7em;
    width: 8px; height: 8px;
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
}
.mp-popup-list {
    padding: .35em 3.5em;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.mp-popup-list:hover {
    background: #343855;
    color: #fff;
}
.mp-popup-list:hover a {
    color: #fff;
}
.mp-popup-list:last-child {
    border-bottom: none;
    margin-bottom: 0;
}


/**** 배너 이미지 크롭 ****/
.mp-banner-image {
    position: inherit;
    width: 100%;
    position: absolute; 
    z-index: -100;
    opacity: 0;
    transition: all .7s;
}
.image-editor {
    width: 100% !important;
}
.cropit-preview {
    width: 100% !important; 
    height: 180.5px;
    overflow: hidden;
    background: #D5D5D5; 
    opacity: 0;
    transition: all .5s;
}
.cropit-preview-image-container {
    cursor: move;
}
.mp-slider {
    left: 0; right: 0; bottom: 0;
    height: 60px;
    overflow: hidden;
    background: #1c2036;
    padding: .8em;
    align-content: center;
    white-space: nowrap; 
    opacity: 0;
    transition: all .8s;
}
.mp-slider-inner1 {
	margin: 0 auto;
	max-width: 900px; 
	min-width: 900px;
	text-align: right;
}
.mp-zoom-box {
	display: inline-block;
	text-align: right;
}
.cropit-image-zoom-input {
	-webkit-appearance: none;
    height: 5px;
    border-radius: 3px;
    background: #fff;
    outline: none;
    width: 150px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    border: solid #ffc001 .5px;
    cursor: pointer;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
input[type=range]::-webkit-slider-thumb:hover {
	opacity: 0.7;
}
input[type=range]::-webkit-slider-thumb:active {
	opacity: 0.7;
}
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    border: solid #ffc001 .5px;
    cursor: pointer;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.mp-min-box:before {
    content: "";
    border: solid #ffc001 0.5px;
    width: 15px; height: 10px;
    display: inline-block;
    border-radius: 2px;
    bottom: .1em;
    position: absolute;
}
.mp-max-box:before {
    content: "";
    border: solid #ffc001 0.5px;
    width: 20px; height: 15px;
    display: inline-block;
    border-radius: 2px;
    bottom: 0;
    position: absolute;
}
.mp-min-box {
    position: relative;
    margin-right: 2.2em;
}
.mp-max-box {
    position: relative;
    margin-left: 1em;
    margin-right: 1.6em;
}
#fileupload-banner {
	display: none;
}
.mp-crop-btns {
    display: inline-block;
    text-align: right;
    margin-left: 10em;
}
.mp-cropit-cancel {
	border-radius: 30px;
	padding: .35em 1.2em;
	border: solid 1px #7A7A7A;
	background: #fff;
	font-weight: bold;
	font-size: .95em;
	color: #7A7A7A;
	cursor: pointer; 
	transition: box-shadow 0.2s ease;
}
.mp-cropit-cancel:focus {
	box-shadow: 0 0 0 3px white;
	outline: none;
}
.mp-cropit-apply {
    border-radius: 30px;
    margin-left: 1em;
    padding: .35em 1.2em;
    border: solid 1px #ffc001;
    background: #ffc001;
    font-weight: bold;
    font-size: .95em;
    color: white;
    cursor: pointer;
    transition: background .5s ease, box-shadow 0.2s ease;
}
.mp-cropit-apply:hover {
    background: #FFAA00;
    border-color: #FFAA00;
}
.mp-cropit-apply:focus {
    box-shadow: 0 0 0 3px white;
    outline: none;
}


/**** 프로필 ****/
.mp-profile-setting {
    background: #ffc001;
    border-radius: 50%;
    border: 5px solid white;
    height: 220px;
    width: 220px;
    position: absolute;
    top: 3%;
    left: 5%;
    z-index: 3;
    transition: box-shadow 0.5s ease;
    overflow: hidden;
}
.mp-profile-setting:hover {
    box-shadow: inset 0 0 0 4px #1c2036;
}
.mp-profile-setting > a {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: box-shadow 0.5s ease;
} 
.mp-profile-setting>a:hover {
    box-shadow: inset 0 0 0 4px #1c2036;
}
.mp-profile-div {
    position: absolute;
    left: 70px; top: 80px;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mp-hover-btn {
	transition: all 0.5s ease;
	display:none;
}
.mp-profile-setting>a:hover .mp-hover-btn {
    display: flex;
}
.mp-profile-setting>a:focus .mp-hover-btn {
    display: flex;
}
.mp-profile-div p {
    white-space: nowrap;
}
.mp-profile-div .fas {
    font-size: 2em;
    color: white;
}
#fileupload-profile {
	display: none;
}


/**** 프로필 사진 올리기 팝업 ****/
.mp-cover-popup2 {
    position: absolute;
    font-size: .8em;
    display: none;
    margin-top: 11em;
    margin-left: 7.3em;
    z-index: 100;
}
.mp-inner-ul2 {
    white-space: nowrap;
    list-style: none;
    margin-bottom: 0;
    padding: .4em 0;
    background: white;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
}
.mp-triangle2 { 
    margin-left: 5.7em;
    width: 8px; height: 8px;
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
}
.mp-popup-list2 {
    padding: .35em 3.5em;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.mp-popup-list2:hover {
    background: #343855;
    color: #fff;
}
.mp-popup-list2:hover a {
    color: #fff;
}
.mp-popup-list2:last-child {
    border-bottom: none;
    margin-bottom: 0;
}


/**** 사용자 정보 ****/
.mp-user-info {
    position: absolute;
    color: #fff;
    top: 42%;
    left: 26%;
    font-weight: bold;
    font-size: 0.8125em;
    z-index: 3;
}
.mp-user-info > p {
    margin-bottom: 0;
}
.mp-user-follow {
    font-size: .9em;
}
.mp-user-name {
    font-size: 1.5em;
    margin-bottom: 0.23em;
}
.mp-user-follow > a {
    cursor: pointer;
}
.mp-user-info > .btn-outline-light {
   border-width: 2px; 
   margin-top: 0.6em;
   padding: .1em .4em;
   font-weight: normal;
   color: white;
}
.mp-user-info > .btn-outline-light:hover {
    color: #212529;
}

/**** 네비게이션 ****/
#mainMenu {
    padding-top: 11.27em;
}
.mp-nav {
    height: 50px;
    maragin: 0 auto;
    position: relative;
}
.mp-nav>ul {
    list-style: none;
    height: 50px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
}
.mp-nav>ul>li {
    width: 100px;
    height: inherit;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mp-nav>ul>li>p {
   padding-top: .2em;
}


/**** 바1 ****/
.mp-bar1 {
    z-index: 2;
    width: 100%;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
}
.mp-bar1 li {
    transition: border-bottom .2s ease;
}
.mp-bar1 li:first-child {
    /*margin-left: 26.5em;*/
} 

.mp-bar1>ul>li>a {
    color: #000;
} 
.mp-bar1>ul>li>a:hover,
.mp-bar3>ul>li>a:hover {
    color: rgb(230, 126, 34) !important;
    text-decoration: none;
}
.mp-current1,
.mp-current2>a {
    color: rgb(230, 126, 34) !important;
}

.mp-on {
    border-bottom: 4px solid rgb(230, 126, 34);
}

.mp-bar3>ul {
    height: 50px;
    width: 1200px;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.mp-bar3>ul>li {
    width: 150px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.mp-bar3>ul>li>a {
    color: #000;
}

#submenus {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
}

#promenus:hover #submenus {
    display: block;
}

.ib-conbox {
    /*margin: 0 auto;*/
    float: right;
    width: 1040px !important;

}

.mp_side {
    padding-top: 4em;
    position: relative;
}

.mp_side:after {
    display: block;
    content: '';
    clear: both;
}




/* scrollerbar_underMenu */
#mp_underBar {
    display: none;
    width: 150px;
    padding: 0 1em 1em 1em;
    background: #fff;
    border: 1px solid #cccc;
    border-radius: 5px;
    z-index: 11;
    position: sticky;
    top: 12%;
    margin-bottom: 1em; 
}

.mp_position1 {
    position: sticky;
    top: 12%;
    margin-bottom: 1em; 
}

#mp_underBar p {
    margin: 0;
}

.ib_mp_conBar {
    /*width: 1200px;
    margin: 0 auto;*/
}

.mp_underLine {
    padding: 0.5em 0;
    border-bottom: 1px solid #999;
    cursor: pointer;
}

.mp_under_title {
    display: flex;
    /*justify-content: space-between;*/
    font-weight: bold;
    line-height: 2rem;
}

.mp_under_title>p {
    padding-left: 0.7em;
}

.mp_under_subTitle p {
    font-size: 0.75rem;
    padding: 0.3em 0 0.3em 0.5em;
}

.mp_under_subTitle p a:hover {
    color: rgb(230, 126, 34);
    font-weight: bold;
}


