<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitcamp.java106.pms.dao.MainDao">
  
  <resultMap type="Board" id="BoardMap">
    <id column="bno" property="no"/>
    <result column="memno" property="memno"/>
    <result column="path" property="path"/>
    <result column="boctt" property="content"/>
    <result column="brtdt" property="createDate"/>
    <result column="cnt" property="count"/>
    <result column="nknm" property="nickname"/>
    <result column="tname" property="hashtag"/>
    <result column="crtdt" property="comments"/>
    <result column="mppho" property="profile"/>
    <result column="wno" property="lno"/>
  </resultMap>
  
  <select id="selectListInMain" 
          resultMap="BoardMap"
          parameterType="map">
    SELECT b.BNO, m.MPPHO, b.PATH, COUNT(l.bno) AS cnt, m.NKNM, b.BOCTT
    FROM INTR_BOARD b 
    LEFT OUTER JOIN INTR_LKMB l 
    ON b.BNO = l.BNO 
    LEFT OUTER JOIN INTR_MEMBER m 
    ON b.MEMNO = m.MEMNO 
    GROUP BY BNO 
    order by cnt desc 
    LIMIT 0, 10
  </select>
  
  <select id="selectListWithHashtag" 
          resultMap="BoardMap"
          parameterType="String">
    SELECT w.WNO, wp.PATH FROM INTR_WORKS w 
    LEFT OUTER JOIN INTR_WPHO wp 
    ON w.WNO = wp.WNO 
    INNER JOIN INTR_WTMACH wt 
    ON w.WNO = wt.WNO 
    INNER JOIN INTR_HASHTAG h 
    ON wt.HTNO = h.HTNO 
    WHERE h.TNAME = #{value}
    GROUP BY wno 
    order by w.wno desc 
    limit 0, 8
  </select>
  
  <select id="selectPopularList" 
          resultType="Map"
          parameterType="String">
    SELECT ws.MEMNO, ws.MUTUA,wp.PATH,COUNT(od.WONO) as cnt 
    FROM INTR_WRKSHP ws 
    LEFT OUTER JOIN INTR_WSPHO wp 
    ON ws.MEMNO = wp.MEMNO 
    LEFT OUTER JOIN INTR_WORKS wo 
    ON ws.MEMNO = wo.MEMNO 
    LEFT OUTER JOIN INTR_ODNWK od 
    ON wo.WNO = od.WNO 
    WHERE wp.PCLSF = 'profile' 
    GROUP BY ws.MEMNO 
    ORDER BY cnt DESC
    limit 0, 8
  </select>
</mapper>







