<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="bitcamp.java106.pms.dao.MyLikeDao">
  
  <resultMap type="Board" id="BoardMap">
    <id column="bno" property="no"/>
    <result column="cnt" property="count"/>
  </resultMap>
  
  <select id="selectList" parameterType="int" resultType="Map">
      SELECT lk.BNO, bo.PATH
      FROM INTR_BOARD bo 
      INNER JOIN INTR_LKMB lk 
      ON bo.BNO = lk.BNO 
      WHERE lk.MEMNO = #{value}
      ORDER BY LNO DESC
  </select>
  
  <select id="likeCount" parameterType="int" resultMap="BoardMap">
      SELECT bo.BNO, COUNT(lk.BNO) as cnt FROM INTR_BOARD bo LEFT OUTER JOIN INTR_LKMB lk ON bo.BNO = lk.BNO WHERE bo.BNO = #{value} GROUP BY BNO
  </select>
  
  <select id="commentCount" parameterType="int" resultMap="BoardMap">
      SELECT bo.BNO, COUNT(bc.BNO) AS cnt FROM INTR_BOARD bo LEFT OUTER JOIN INTR_BCMMT bc ON bo.BNO = bc.BNO WHERE bo.BNO = #{value} GROUP BY BNO
  </select>
  
  <select id="totalLikeCount" parameterType="int" resultType="int">
      SELECT COUNT(*) FROM INTR_LKMB WHERE MEMNO = #{no}
  </select>
  
</mapper>