<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 이름은 SQL을 찾을 때 사용하는 그룹명이다.
     따라서 SQL 문을 사용하는 DAO 클래스 이름과 같게 하면
     유지보수할 때 알아보기 쉽다.
     단순히 알아보기 쉬울 뿐만 아니라 
     스프링 프레임워크와 연동할 때 DAO 객체를 자동 생성할 수 있다. 
-->
<mapper namespace="bitcamp.java106.pms.dao.WorksOptionDao">

  <resultMap type="WorksOption" id="WorksOptionMap">
    <id column="opno" property="optionNumber"/>
    <result column="wno" property="worksNumber"/>
    <result column="abvl" property="attributeValue"/>
  </resultMap>
  
  <!-- 옵션 삽입 -->
  <insert id="insert" parameterType="WorksOption"
          useGeneratedKeys="true" keyColumn="opno" keyProperty="no">
	    insert into INTR_WKOT(wno, abvl)  
	    values(#{worksNumber},#{attributeValue});
  </insert>
  
  <!-- 옵션 전체 출력 -->
  <select id="selectList" parameterType="int" resultMap="WorksOptionMap">
        select * from INTR_WKOT where wno=#{no}
  </select>
  
  <select id="selectOne" parameterType="int" resultMap="WorksOptionMap">
        select * from INTR_WKOT where wno=#{no}
  </select>
  
  <!-- 옵션 수정 -->
  <update id="update" parameterType="WorksOption">
  UPDATE `INTR_WKOT` 
  SET `ABVL`= #{attributeValue} WHERE wno = #{worksNumber}
  </update>
  
  <!-- 옵션 삭제 -->
  <delete id="delete" parameterType="int">
    DELETE FROM `INTR_WKOT` WHERE wno = #{worksNumber}
  </delete>
</mapper>







